section.repository-list {
    width: 700px;
    display: flex;
    background-color: #181242;
    flex-direction: column;
    padding: 2rem; 
    justify-content: center;
    margin: 2rem auto;
    border-radius: 0.7rem;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        img{
            width: 80px;
            border-radius: 50%;
        }

        h1{
            font-size: 1.7rem;
            color: #8e44ad;
            text-align: center;
        }
    }


    ul {
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                width: 100px;
                margin-left: 10px;
                cursor: pointer; 
                padding: 5px;
                border:0;
                border-radius: 3px;
                background: #b178c9;
                color: #fff;

                &:hover{
                    background: #fff;
                    color: #b178c9;
                }
            }

            strong {
                margin-bottom: 0.7rem;
                display: block;
            }

            & + li{
                margin-top: 2.5rem;
            }

            p{
                color: #9b59b6;
                font-size: 0.8rem;
            }
            a {
                font-size: 0.8rem;
            }
        }
    }
}